<div class="accordion" id="faqAccordion">
  <!--  Why travel with us? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Why travel with us? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Because we are more than just an activity providers company. We are a
        team of travel experts, photographers, and native guides who know every
        corner of the island like the backs of our hands. We genuinely LOVE OUR
        ISLAND, and with years of exploring under our belts, we've got the best
        tips and connections to help you discover the essence of Madeira.
      </div>
    </div>
  </div>
  <!-- Is Madeira a safe destination? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Is Madeira a safe destination? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Yes and we keep saying it: Madeira is a kind of paradise on Earth. You
        will not encounter any venomous animals or feel endangered while
        strolling through the city. That’s a guarantee.
        However, let’s keep it real; our wild nature constantly reminds us how
        cautious we must be. Navigating through the mountains and alongside the
        rivers has inherent risks; that's why we only hike in secure places,
        prioritizing the safety and enjoyment of all our adventurers.
      </div>
    </div>
  </div>
  <!-- So, do I need travel insurance? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        So, do I need travel insurance? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        We do provide with Personal Accident Insurance and liability (according
        to Portuguese law) but we highly recommend you to buy a personal travel
        insurance to cover yourself and your travel plans against any
        circumstances that might occur.
      </div>
    </div>
  </div>
  <!-- How’s the weather like in Madeira? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingFour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        How’s the weather like in Madeira? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseFour"
      class="accordion-collapse collapse"
      aria-labelledby="headingFour"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        By being located off the coast of Africa, Madeira benefits from a
        subtropical climate, consequently remaining relatively mild throughout
        the year. The rainy season adds great charm to the island, filling its
        waterfalls and lush landscapes with water. Summer remains very pleasant
        with temperatures around 25-28°C.
      </div>
    </div>
  </div>
  <!-- And when is the best period to visit Madeira? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingFive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        And when is the best period to visit Madeira? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseFive"
      class="accordion-collapse collapse"
      aria-labelledby="headingFive"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        <h4 class="font-weight-bold">About the climate:</h4>
        Madeira is a year-round destination and has six microclimates!
        Locals will tell you: if it's raining on one side, it'll be sunny on the other. The south is typically sunny and dry with a lot of banana plantations, while the north, with its mountain ranges blocking clouds and dense jungles, tends to be more humid. Weather in mountainous areas is pretty difficult to predict, so pack a waterproof and warm coat in winter, and a good windbreaker in summer.
        <h4 class="font-weight-bold mt-5">About the Festivities:</h4>
        Festival periods such as the Flower Festival, year-end celebrations, and summer fairs are highly popular in Madeira and attract thousands of visitors every year.
        -If your interest is to explore the island's less touristy areas and venture off the beaten path, we've got you covered!
      </div>
    </div>
  </div>
  <!-- What payment methods are accepted on the island? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingSix">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSix"
        aria-expanded="false"
        aria-controls="collapseSix"
      >
        What payment methods are accepted on the island? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseSix"
      class="accordion-collapse collapse"
      aria-labelledby="headingSix"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Credit cards and cash are accepted, with the latter being more commonly
        used in rural areas. ATMs are available almost everywhere on the island.
      </div>
    </div>
  </div>
  <!-- What is the food like in Madeira? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingSeven">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSeven"
        aria-expanded="false"
        aria-controls="collapseSeven"
      >
        What is the food like in Madeira? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseSeven"
      class="accordion-collapse collapse"
      aria-labelledby="headingSeven"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        SO GOOD! It's probably one of the best aspects of the island. From freshly caught fish and seafood to meats, vegetables, and tropical fruits, Madeira stands out for the quality of its regional products derived from ancestral traditional agriculture, all with a Portuguese cuisine twist.
      </div>
    </div>
  </div>
  <!--  Do I need a Visa to visit Madeira? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingEight">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEight"
        aria-expanded="false"
        aria-controls="collapseEight"
      >
        Do I need a Visa to visit Madeira? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseEight"
      class="accordion-collapse collapse"
      aria-labelledby="headingEight"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Madeira Island is an autonomous region of Portugal and part of the European Union (EU). It generally offers visa-free entry on arrival for citizens of many Western countries, including the United States, Canada, Brazil, the United Kingdom, Australia, New Zealand, as well as all other EU member states.
      </div>
    </div>
  </div>
  <!-- What to bring if I go on a hiking trip? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingNine">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseNine"
        aria-expanded="false"
        aria-controls="collapseNine"
      >
        What to bring if I go on a hiking trip? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseNine"
      class="accordion-collapse collapse"
      aria-labelledby="headingNine"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Hiking boots, hiking gear, a waterproof jacket, warm layers, and a small backpack are absolute must-haves for exploring Madeira's trails. Occasionally, you might also need a flashlight for certain paths, but usually, that's all you'll require.
      </div>
    </div>
  </div>
  <!--  Can you customize tours according to specific interests or preferences? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingTen">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTen"
        aria-expanded="false"
        aria-controls="collapseTen"
      >
        Can you customize tours according to specific interests or preferences? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseTen"
      class="accordion-collapse collapse"
      aria-labelledby="headingTen"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Yes! Just fill out our <a href="https://w7z8i4hvu05.typeform.com/to/kzO3vvkk" target="_blank">questionnaire</a>, and our local expert will take care of the rest. Typically, you'll receive a response within 48 hours with a proposal and the opportunity to communicate with him to adjust your plan if needed.
      </div>
    </div>
  </div>
  <!--  Are Transfers included in the Madeira Tours Packages? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingEleven">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEleven"
        aria-expanded="false"
        aria-controls="collapseEleven"
      >
        Are Transfers included in the Madeira Tours Packages? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseEleven"
      class="accordion-collapse collapse"
      aria-labelledby="headingEleven"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Yes! All transfers are included in our organized packages, and your luggage are transported by car from one accommodation to another. So, you’ll have them with you every night.
      </div>
    </div>
  </div>
  <!-- Can I book a tour as a solo traveler or do I need to wait until other people sign up for these days and then join their group? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingTwelve">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwelve"
        aria-expanded="false"
        aria-controls="collapseTwelve"
      >
        Can I book a tour as a solo traveler or do I need to wait until other people sign up for these days and then join their group? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseTwelve"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwelve"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        Yes, solo travelers are welcome to book tours. In case that no other participants sign up for the tour on the scheduled day, it will be canceled. You will be notified two days prior to the tour date, allowing you time to explore alternative options. In such cases, you will have the choice to reschedule your tour or receive a full refund.
        Check here our « Solo travel Trips »
      </div>
    </div>
  </div>
  <!-- How long in advance should I book with you? -->
  <div class="accordion-item mb-4">
    <h2 class="accordion-header" id="headingThirteen">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThirteen"
        aria-expanded="false"
        aria-controls="collapseThirteen"
      >
        How long in advance should I book with you? <i class="fas fa-chevron-down"></i>
      </button>
    </h2>
    <div
      id="collapseThirteen"
      class="accordion-collapse collapse"
      aria-labelledby="headingThirteen"
      data-bs-parent="#faqAccordion"
    >
      <div class="accordion-body">
        The earlier, the better. We often have reservations several months in advance, especially for the Flower Festival in early spring, the Wine Festival in September, the summer period, the year-end festivities…
      </div>
    </div>
  </div>
</div>
