/* header.component.css */
.navbar-brand img {
  height: 80px; /* Altura do logo ajustada para 80px */
  transition: transform 0.2s ease-in-out;
}

.navbar-brand img:hover,
.nav-link:hover,
.fa-instagram:hover {
  transform: scale(1.1);
}

/* Ajusta o padding para os itens do nav para uma melhor visualização e espaçamento */
.nav-link {
  padding: 1rem;
  color: white; /* Cor do texto ajustada para branco */
  transition: color 0.2s ease-in-out;
}

.nav-item {
  margin-right: 1.4rem; /* Aumenta o espaçamento entre os itens do menu */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Mostra o dropdown ao passar o mouse no item do menu */
}

.dropdown-menu {
  background-color: #343a40; /* Cor de fundo do dropdown */
}

.dropdown-item {
  color: white !important; /* Cor do texto do dropdown ajustada para branco */
}

.dropdown-item:hover {
  background-color: #495057; /* Cor de fundo do item do dropdown ao passar o mouse */
}

.nav-link:hover,
.fa-instagram:hover {
  color: #F5CD03; /* Cor do texto ao passar o mouse */
}

/* Para o ícone do Instagram */
.fa-instagram {
  color: white; /* Cor do ícone ajustada para branco */
  font-size: 1.5rem; /* Tamanho do ícone ajustado */
}

/* Estilo para centralizar os itens do menu na navbar em telas grandes */
@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar-collapse {
    justify-content: space-between;
  }
}
