<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/brand/logo.svg" alt="Logo">
    </a>

    <!-- Toggle button for mobile menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="#">Who We Are</a></li>
            <li><a class="dropdown-item" href="#">Why Madeira Outdoors</a></li>
            <li><a class="dropdown-item" href="#">Our Travel Philosophy</a></li>
            <li><a class="dropdown-item" href="#">Meet Your Hosts</a></li>
            <li><a class="dropdown-item" href="#">Our Guest Feedback</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="experiencesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Experiences
          </a>
          <ul class="dropdown-menu" aria-labelledby="experiencesDropdown">
            <li><a class="dropdown-item" href="#">Customize Your Trip</a></li>
            <li><a class="dropdown-item" href="#">Madeira Packages</a></li>
            <li><a class="dropdown-item" href="#">Daily Activities</a></li>
            <li><a class="dropdown-item" href="#">Solo Travellers</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <a class="ps-3 d-flex align-items-center fa-instagram" href="https://instagram.com/madeira.outdoors" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
  </div>
</header>
