.header-container {
  position: relative;
  background-image: url('../../assets/photos/header.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center; /* Mantém o conteúdo centralizado verticalmente */
  justify-content: center; /* Agora centraliza o conteúdo horizontalmente */
  text-align: center; /* Centraliza o texto */
  padding-left: 0; /* Removido para verdadeira centralização horizontal */
  font-family: 'Poppins', sans-serif;
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Degradê preto */
  z-index: 0;
}

.header-content {
  position: relative;
  max-width: 500px;
  z-index: 1;
}

.header-container h1 {
  font-size: 4rem; /* Tamanho da fonte aumentado */
  color: white;
  margin-bottom: 4rem; /* Aumenta o espaçamento entre o título e o botão */
  font-weight: 600;
}

.header-container button {
  padding: 15px 50px; /* Ajustes no botão */
  font-size: 1.2em;
  background-color: orange;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px; /* Arredondamento das bordas */
}
