<section class="about-us">
  <div class="container">
    <div class="row align-items-center">
      <h2 class="text-center ">About Us</h2>

      <div class="col-lg-6">
        <img src="assets/photos/card-1.jpeg" alt="About Us" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Fusce dapibus, tellus ac cursus commodo.</p>
        <button class="btn btn-primary mt-3">Learn More</button>
      </div>
    </div>
  </div>
</section>

<section class="youtube-video-section my-5">
  <div class="container text-center">
    <h2>Experience Our Adventures</h2>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/etYrsmPm85U?rel=0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</section>
