.our-experiences {
  padding: 40px 0;
}

.card-1 {
  background-image: url('/assets/photos/card-1.jpeg');
}

.card-2 {
  background-image: url('/assets/photos/card-2.jpeg');
}

.card-3 {
  background-image: url('/assets/photos/card-3.jpeg');
}

.card-4 {
  background-image: url('/assets/photos/card-4.jpeg');
}


.experience-card {
  height: 420px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.experience-card:hover {
  transform: scale(1.05);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: white;
  transition: background-color 0.3s ease-in-out;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0) 100%);
}

.card-content h3,
.card-content p {
  margin: 0;
}

.card-content p {
  font-weight: 100;
}

h2 {
  margin-bottom: 20px;
}
