/* You can add global styles to this file, and also import other style files */
:root {
  --background-dark: #c1c1c1;
  --background-dark-1e: #1e1e1e;
  --background-dark-17: #171717;
  --background-light: #fafafa;
  --color-white: #fff;
  --color-black: #000;
  --primary-color: #f2a200;
  --primary-color-light: #f4b642;
  --secondary-color: #367b2b;
  --secondary-color-light: #4f9c41;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  background: #F3F1EC;
}

.section-default {
  height: 20rem;
}

.section-header {
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
  color: #0498c7;
}

a:hover {
  transform: scale(1.1);
}
